<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">



    <!-- SEO -->
    <title>Codeln</title>
    <meta content="Codeln partners slide deck" name="description">

    <!-- URL CANONICAL -->
    <!-- <link rel="canonical" href="http://your-url.com/permalink"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext"
          rel="stylesheet">

    <!-- CSS Base -->
    <link href="/css/webslides.css" media='all' rel="stylesheet" type='text/css'>

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link href="/css/svg-icons.css" media='all' rel="stylesheet" type='text/css'>

    <!-- SOCIAL CARDS (ADD YOUR INFO) -->

    <!-- FACEBOOK -->
    <meta content="/" property="og:url"/>
    <meta content="article" property="og:type"/>
    <meta content="WebSlides Tutorial: Media" property="og:title"/>

    <!-- EDIT -->
    <meta content="How to embed images, videos, and maps in your presentation." property="og:description">

    <!-- EDIT -->
    <meta content="2017-01-04T17:25:31" property="og:updated_time">

    <!-- EDIT -->
    <meta content="/images/share-webslides.jpg" property="og:image">


    <!-- EDIT -->



    <!-- Android -->
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="#333333" name="theme-color">


</head>
<body>


<main role="main">
    <article id="webslides">

        <!-- start page -->
        <section class="">
          <span class="background-right-bottom">
              <img src="/images/codeln/interview.svg" style="margin-left: 50%;margin-top:8%;width: 45%">
          </span>
            <div class="wrap">
                <div style="margin-left: 10%">

                    <h1>

                        <strong>CodeLn</strong>
                    </h1>
                    <p>Empower your workforce with better hires </p>

                </div>
            </div>
            <!-- .end .wrap -->
        </section>
        <!-- who are we -->
        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap size-50">
            <h2 class="text-landing">Who we are</h2>
            <p class="text-intro">We are a global tech recruitment company that helps you seamlessly hire skilled Software
                            Engineers.</p>

          </div>
        </section>
        <!--<section style="padding-top: 5rem">-->
            <!--<div class="wrap">-->
                <!--<div class="grid vertical-align">-->

                    <!--&lt;!&ndash; end column&ndash;&gt;-->
                    <!--<div class="column" style="">-->
                        <!--<h4>-->
                            <!--Who we are-->
                        <!--</h4>-->
                        <!--<p class="text-intro">We are a global tech recruitment company that helps you seamlessly hire skilled Software-->
                            <!--Engineers</p>-->

                    <!--</div>-->
                     <!--<div class="column" style="width: 50%;margin-right: -12%">-->
                        <!--<figure>-->
                            <!--<img alt="Pixel Phone" src="/images/profile.png">-->
                        <!--</figure>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; end .column&ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; end .grid&ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; end .wrap&ndash;&gt;-->
        <!--</section>-->

        <!-- quote -->
        <section class="">
            <!--.wrap = container (width: 90%) -->
            <div class="wrap">
                <blockquote class="text-quote">
                    <p>The talent war is very real, and is going to get even crazier in the next few years.
                    </p>
                    <p><cite><a
                            href="https://www.techrepublic.com/article/3-things-your-company-must-do-to-win-the-war-for-top-tech-talent/">Dan
                        Roberts</a></cite></p>
                </blockquote>
            </div>
            <!-- .end .wrap -->
        </section>
        <!-- why exist -->

        <section style="padding-top: 5rem">
            <div class="wrap">



                <div class="grid vertical-align">
                    <div class="column">
                        <h4>
                            Why we exist
                        </h4>
                        <h6>Cost of a bad hire</h6>
                    </div>

                    <!-- end column-->
                    <div class="column">


                        <p class="text-intro">


                        </p>
                        <ul class="description">
                            <li style="border-bottom: 0">

                                -Time loss

                            </li>
                            <li style="border-bottom: 0">
                                -Productivity Loss

                            </li>
                            <li style="border-bottom: 0">
                                -Cost of Training

                            </li>
                            <li style="border-bottom: 0">
                                -Cost of Re-hiring

                            </li>
                            <li style="border-bottom: 0">
                                -Cost of Maintenance

                            </li>
                            <li style="border-bottom: 0">
                                -High Employee Turnover

                            </li>
                            <li style="border-bottom: 0">
                                -Disruption in Work Processes

                            </li>
                        </ul>



                    </div>

                    <!-- end .column-->
                </div>
                <!-- end .grid-->
            </div>
            <!-- end .wrap-->
        </section>
        <!-- how we do it -->
        <section>
            <div class="wrap">
                <h3>How we do it</h3>
                <ul class="flexblock steps">
                    <!-- li>a? Add blink = <ul class="flexblock steps blink">-->
                    <li>
                <span>
                  <svg class="fa-heartbeat">
                    <use xlink:href="#fa-heartbeat"></use>
                  </svg>
                </span>
                        <h2>01. Understand</h2>
                        <p>We aim to understand your needs
                            and the goals you want to achieve.

                        </p>
                    </li>
                    <li>
                        <div class="process step-2"></div>
                        <span>
                  <svg class="fa-magic">
                    <use xlink:href="#fa-magic"></use>
                  </svg>
                </span>
                        <h2>02. Filter</h2>
                        <p>We reach out to our pool of Programmers with matching profiles.</p>
                    </li>
                    <li>
                        <div class="process step-3"></div>
                        <span>
                  <svg class="fa-balance-scale">
                    <use xlink:href="#fa-balance-scale"></use>
                  </svg>
                </span>
                        <h2>03. Merit</h2>
                        <p>We ensure quality by testing the Programmers again based on your specific job
                            requirements.</p>
                    </li>
                    <li>
                        <div class="process step-4"></div>
                        <span>
                  <svg class="fa-cog">
                    <use xlink:href="#fa-cog"></use>
                  </svg>
                </span>
                        <h2>04. Recommend</h2>
                        <p>Finally, we forward our recommendations based on the outcome of the test.</p>

                    </li>

                </ul>
            </div>
            <!-- .end .wrap -->
        </section>
        <!-- features ide or test -->
        <section style="padding-top: 5rem">
            <div class="wrap">
                <div class="grid vertical-align">
                    <div class="column" style="width: 85%;margin-left: -10%">
                        <figure>
                            <img alt="Pixel Phone" src="/images/tests.png">
                        </figure>
                    </div>
                    <!-- end column-->
                    <div class="column" style="margin-left: -10%">
                        <h4>
                            Tests
                        </h4>
                        <p class="text-intro">Through our cutting edge solution, we vet Developer’s skills based on
                            real world projects similar to what they will be employed to work on</p>

                    </div>
                    <!-- end .column-->
                </div>
                <!-- end .grid-->
            </div>
            <!-- end .wrap-->
        </section>

        <!-- report -->
        <section style="padding-top: 5rem">
            <div class="wrap">
                <div class="grid vertical-align">
                    <div class="column" style="width: 85%;margin-left: -10%">
                        <figure>
                            <img alt="Pixel Phone" src="/images/report.png">
                        </figure>
                    </div>
                    <!-- end column-->
                    <div class="column" style="margin-left: -10%">
                        <h4>
                            Insightful reports
                        </h4>
                        <p class="text-intro">Get detailed insights into the coding style of your Devs:


                        </p>
                        <ul class="description">
                            <li>
                                -Problem solving

                            </li>
                            <li>
                                -Code quality

                            </li>
                            <li>
                                -Language knowledge

                            </li>
                            <li>
                                -Code security

                            </li>
                        </ul>

                    </div>
                    <!-- end .column-->
                </div>
                <!-- end .grid-->
            </div>
            <!-- end .wrap-->
        </section>

        <!-- profile  -->
        <section style="padding-top: 5rem">
            <div class="wrap">
                <div class="grid vertical-align">
                    <div class="column" style="width: 85%;margin-left: -10%">
                        <figure>
                            <img alt="Pixel Phone" src="/images/profile.png">
                        </figure>
                    </div>
                    <!-- end column-->
                    <div class="column" style="margin-left: -10%">
                        <h4>
                            Developer profiles
                        </h4>
                        <p class="text-intro">Receive recommendations of technical fit based on your job
                            requirements</p>

                    </div>
                    <!-- end .column-->
                </div>
                <!-- end .grid-->
            </div>
            <!-- end .wrap-->
        </section>
        <!-- trusted by  -->
        <section>
          <div class="wrap">
            <div class="content-left">
              <h2>Trusted by</h2>
            </div>
            <!-- end .content-left -->
            <div class="content-left">
              <p></p>
            </div>
            <!-- end .content-left -->
            <ul class="flexblock">
              <li>
                <div>
                  <img class="graylogo" src="/images/codeln/chalkboard.png" alt="chalkboard">
                </div>
              </li>
              <li>
                <div>
                  <img src="/images/codeln/mesika.png" alt="mesika">
                </div>
              </li>
              <li>
                <div style="margin-top: 2rem;">
                  <img class="graylogo" src="/images/codeln/complete.png" alt="completefarmer">
                </div>
              </li>
                <li>
                <div style="margin-top: 1rem">
                  <img class="graylogo" src="/images/codeln/mest.png" alt="mest">
                </div>
              </li>


                <li>
                <div style="margin-top: 3rem">
                  <img class="graylogo" src="/images/codeln/circles.png" alt="circles">
                </div>
              </li>
                <li>
                <div style="margin-left: 5%">
                  <img style="width: 30%" src="/images/codeln/works.png" alt="africaworks">
                </div>
              </li>
                <li>
                <div style="margin-top: 3rem;margin-left: -55%">
                  <img class="graylogo" src="/images/codeln/natterbase.svg" alt="natterbase">
                </div>
              </li>




            </ul>
          </div>
          <!-- .end .wrap -->
        </section>
        <!-- partners  -->
        <section>
            <h2 class="aligncenter">Partners</h2>
            <h4 class="aligncenter">We seek Partners to collaborate with us in any of these areas and more</h4>
          <div class="wrap">
              <div class="grid vertical-align">
                  <div class="column">
                      <div class="card-60 bg-white" style="height: 100%">

              <!-- end figure-->
              <div style="padding: 10%;">
                <h3>
                  Challenge our Devs
                </h3>
                <p>Constantly provide us Challenges, Projects and Bug Bounties to help our Developers improve their skills. </p>

              </div>

              <!-- end .flex-content-->
            </div>
                  </div>
                  <div class="column">
                      <div class="card-60 bg-white" style="height: 100%">

              <!-- end figure-->
              <div style="padding: 10%;">
                <h2>
                  Events
                </h2>
                <p>Support our monthly hackathons and bootcamps to help train more Software Developers.</p>

              </div>

              <!-- end .flex-content-->
            </div>
                  </div>
                  <div class="column">
                      <div class="card-60 bg-white" style="height: 100%">

              <!-- end figure-->
              <div style="padding: 10%;">
                <h2>
                  Job offers
                </h2>
                <p>Assist us in offering local and international jobs to African Tech Talents.</p>

              </div>

              <!-- end .flex-content-->
            </div>
                  </div>
              </div>



            </div>
            <!-- .end .card50 -->
          </div>
          <!-- .end .wrap -->
        </section>

        <!-- value  -->
        <section style="padding-top: 5rem">
            <div class="wrap">
                <div class="grid vertical-align">

                    <!-- end column-->
                    <div class="column">
                        <h4>
                            Value for partners
                        </h4>
                        <p class="text-intro">


                        </p>
                        <ul class="description">
                            <li>
                                -Discount offers on our services

                            </li>
                            <li>
                                -First hand and Speedy recruitment process

                            </li>
                            <li>
                                -Our Programmers will assist with bug fixes and mini projects

                            </li>
                            <li>
                                -Our Programmers will engage more with your Developer tools

                            </li>
                            <li>
                                -Report on data/insights into the Developer Ecosystem in Africa

                            </li>
                        </ul>

                    </div>
                    <div class="column">
                        <figure>
                            <img src="/images/codeln/upgrade.svg">
                        </figure>



                    </div>
                    <!-- end .column-->
                </div>
                <!-- end .grid-->
            </div>
            <!-- end .wrap-->
        </section>

         <!-- thank you -->
        <section>
            <div class="">
                <div class="card-50">
                    <figure>
                        <img style="width: 50%" alt="Man in a motorcycle" src="/images/coding.png">

                    </figure>
                    <!-- end figure-->
                    <div class="flex-content">
                        <h2>
                            Thank you
                        </h2>
                        <p>Automate your tech recruiting with CodeLn</p>
                        <ul class="description">

                  <li><strong class="text-label">Email:</strong> info@codeLn.com</li>
                  <li><strong class="text-label">Website:</strong> <a href="https://beta.codeln.com"> www.codeln.com</a></li>
                </ul>


                    </div>

                    <!-- end .flex-content-->
                </div>
                <!-- .end .card50 -->
            </div>
            <!-- .end .wrap -->
        </section>

        <!-- end page -->
        <section class="bg-apple aligncenter">
            <!--.wrap = container (width: 90%) -->
            <div class="wrap">
                <h1><img alt="Codeln logo" src="/images/coding.png" style="width: 23%"></h1>
            </div>
            <!-- .end .wrap -->
        </section>


    </article>
</main>
<!--main-->
<!-- Required -->

<script src="/js/webslides.js"></script>

<script>
    window.ws = new WebSlides();
</script>

<!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
<script defer src="/js/svg-icons.js"></script>

</body>
</html>
